     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }
     
     body {
         background-color: #fff;
     }
     
     .container {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
     }
     
     h1 {
         display: block;
         text-align: center;
         margin: 20px;
     }
     
     h2 {
         display: block;
         text-align: center;
         margin: 20px;
     }
     /*********************
    *   BUTTONS CONFIG    *
    **********************/
     
     .btn {
         display: inline-block;
         height: 50px;
         width: 140px;
         color: #000;
         padding-top: 15px;
         text-align: center;
     }
     
     .btn:link,
     .btn:visited {
         text-transform: uppercase;
         text-decoration: none;
     }
     /*********************
    *      BUTTON 01     *
    **********************/
     
     .text-buttom01:hover {
         color: rgb(255, 95, 95);
         transition: 0.5s;
     }
     
     .text-buttom01:active {
         color: blue;
     }
     /*********************
    *      BUTTON 02     *
    **********************/
     
     .text-buttom02:hover {
         color: rgb(255, 95, 95);
         transform: scale(1.5);
         transition: 0.3s;
     }
     
     .text-buttom02:active {
         color: blue;
     }
     /*********************
    *      BUTTON 03     *
    **********************/
     
     .text-buttom03::after {
         content: "";
         display: block;
         width: 0;
         height: 2px;
         background: #000;
         /* transition with the color started with black then finish with violet */
         transition: 0.5s;
     }
     
     .text-buttom03:hover::after {
         width: 100%;
         background: violet;
     }
     
     .text-buttom03:active {
         color: blue;
     }
     /*********************
    *      BUTTON 04     *
    **********************/
     
     .text-buttom04::after {
         content: "";
         display: block;
         width: 0%;
         margin: auto;
         /* fadding center to the edges */
         height: 2px;
         background: transparent;
         transition: .5s;
     }
     
     .text-buttom04:hover::after {
         width: 100%;
         background: blue;
     }
     
     .text-buttom04:active {
         color: blue;
     }
     /*********************
    *      BUTTON 05     *
    **********************/
     
     .text-buttom05:hover {
         background-color: #2980b9;
         transition: .5s ease-in;
         color: #ecf0f1;
     }
     
     .text-buttom05:active {
         color: #ecf0f1;
         background-color: #3498db;
         transition: .1s ease-out;
     }
     /***********************
    * Input Button Section  *
    ************************/
     
     .input-btn {
         display: inline-block;
         height: 50px;
         width: 140px;
         margin: 20px;
         text-transform: uppercase;
         outline: none;
     }
     
     .input-btn-ghost {
         background-color: transparent;
         border: 1px #000;
         border-style: solid;
     }
     
     .input-btn-ghost:hover {
         cursor: pointer;
         background-color: #2980b9;
         color: #fff;
         border-color: #fff;
         transition: .4s linear;
     }
     
     .input-btn-ghost:active {
         background-color: #3498db;
         transition: .2s ease-out;
         color: #fff;
         border-color: #fff;
     }
     
     .input-btn-ghost-rounded {
         border-radius: 5px;
     }
     
     .input-btn-ghost-cicle {
         border-radius: 50px;
     }
     
     .input-btn-ghost-dashed {
         background-color: transparent;
         border: 1px #000;
         border-style: solid;
     }
     
     .input-btn-ghost-dashed:hover {
         background-color: transparent;
         border: 2px #000;
         border-style: dashed;
         transition: .2s linear;
         cursor: pointer;
     }
     
     .input-btn-ghost-dashed-circle:hover {
         background-color: transparent;
         border: 2px #000;
         border-radius: 50px;
         border-style: dashed;
         transition: .2s ease;
     }
     
     .input-btn-ghost-dashed:active {
         background-color: #2980b9;
         border-color: #2980b9;
         color: #fff;
         transition: .1s ease;
     }